.header {
  background: $header-bg;
  color: $header-color;
}

.header__content {
  margin: 0 auto;
  max-width: $site-max-width;
  padding: $space;
  display: flex;
  justify-content: space-between;
}

.header__title {
  margin: 0;
}